body{
    margin:0;
    padding: 0;
    background-color: aquamarine;
}
.heading{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top:5px ;
    margin-top:10px;
    margin-bottom:10px ;
    background-color: rgb(223, 203, 23);
    border-radius: 20px;
}
table, td {
  border:none !important;
}
.container{
    /* background: tan; */
    font-weight: bolder;
    border-radius: 20px;
}

.nepal, .world{
    border:2px solid black;
    border-radius: 20px;
    background: tan;
 
}

.data{
    border:1px solid black;
    margin:1px;
}
.title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

img{
    height:20vh;
}
.news{
    background-color: tan;
    margin:3px;
    border-radius: 10px;
}

@media only screen and (max-width: 760px){
    #newsColumn{
      margin:3px;
    }
    .news-container{
        margin-left: 10px;
    }
}
@media only screen and (min-width: 761px){
    #newsColumn{
       margin-left: 30%;
       margin-right: 30%;
    }
}







